<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>

  <body>
    <%- include('partials/header') %>
    <div class="container">
      <h1><%= article.title %></h1>
      <h5>Written by <%= article.author %></h5>
      <p><%= article.body %></p>

      <%- include('partials/footer') %>
    </div>
  </body>
  <%- include('partials/script') %>
</html>
